<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>homework</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModefyServlet</display-name>
    <servlet-name>ModefyServlet</servlet-name>
    <servlet-class>com.servlet.ModefyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModefyServlet</servlet-name>
    <url-pattern>/ModefyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignServlet</display-name>
    <servlet-name>SignServlet</servlet-name>
    <servlet-class>com.servlet.SignServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignServlet</servlet-name>
    <url-pattern>/SignServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>com.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/IndexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LServlet</display-name>
    <servlet-name>LServlet</servlet-name>
    <servlet-class>com.servlet.LServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LServlet</servlet-name>
    <url-pattern>/LServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileServlet</display-name>
    <servlet-name>FileServlet</servlet-name>
    <servlet-class>com.servlet.FileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileServlet</servlet-name>
    <url-pattern>/FileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MServlet</display-name>
    <servlet-name>MServlet</servlet-name>
    <servlet-class>com.servlet.MServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MServlet</servlet-name>
    <url-pattern>/MServlet</url-pattern>
  </servlet-mapping>
</web-app>